<h1>New Story</h1>

<form action='/stories/save' method='post'>

  <input type='hidden' 
         name='authenticity_token'
         value='<%= form_authenticity_token %>'>
  

  Title:<br>
  <input type='text' name='title' />
  <br><br>


  Content:<br>
  <textarea name='content' rows='8'></textarea>
  <br><br>


  Published?
  <input type='checkbox' name='published' value='1'>
  <br><br>


  Tags:<br>
  <input type='text' name='tags[]' />
  <input type='text' name='tags[]' />
  <input type='text' name='tags[]' />
  <br><br>


  <input type='submit'>

</form>